h1 {
  font-family: 'Bree Serif', serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 50px;
}

h2 {
    color: #4682b4; /* steel blue (#1e2736 is too dark) */
    font-size: 32px;
}

#content {
    width: 900px;
    /*border: 1px solid #708090;*/
    margin: 0 auto;
}

article {
  font-size: 18px;
  margin: 20px 0px;
}

@media screen and (max-width: 768px) {
  #content {
    background-color: yellow;
    width: 100%;
    margin: 0 5px;
  }
  h2 {
    font-size: 10px;
  }
}
