h3 {
    color: #4682b4; /* steel blue */
    /* #1e2736; is too dark */
}

h4 {
    color: #000000;
    font-size: 10px;
}

article {
    width: 500px;
    padding: 10px;
    /*border: 1px solid #708090;*/
    margin: 0 auto;
}

