<div class="circle-nav">
    <div>
        <div class="circle green"></div>
        <div class="circle-heading">data</div>
    </div>
    <div>
        <div class="circle yellow"></div>
        <div class="circle-heading">front end</div>
    </div>
    <div>
        <div class="circle red"></div>
        <div class="circle-heading">back end</div>
    </div>
    <div>
        <div class="circle blue"></div>
        <div class="circle-heading">science</div>
    </div>
    <div>
        <div class="circle gray"></div>
        <div class="circle-heading">writing</div>
    </div>
</div>

<div class="circle-overlap">
        <div class="circle green"></div>
        <div class="circle yellow"></div>
        <div class="circle red"></div>
        <div class="circle blue"></div>
        <div class="circle gray"></div>
</div>

<div class="circle-cluster">
        <div class="circle green shake"></div>
        <div class="circle yellow shake"></div>
        <div class="circle red shake"></div>
        <div class="circle blue shake"></div>
</div>
