---
---
<!DOCTYPE html>
<html lang="en">
{% include head.html %}
  <body>
    <div class="content">
      {% include nav.html %}
      <div class="writing">
          <h2>blog</h2>
          {% for post in site.posts %}
              {% capture post_date %} {{ post.date }} {% endcapture %}
              {% capture post_url %} {{ post.url }} {% endcapture %}
              {% capture post_title %} {{ post.title }} {% endcapture %}
              {% capture post_excerpt %} {{ post.excerpt }} {% endcapture %}
              {% capture post_gif %} {{ post.gif | prepend: "/" }} {% endcapture %}
              {% include post-col-right.html image=post_gif date=post_date page=post_url heading=post_title description=post_excerpt %}
          {% endfor %}
      </div>
      <div class="talks">
          {{content}}
      </div>
    </div>
    {% include bootstrap-body.html %}
    {% include footer.html %}
    {% include rc-scout.html %}
  </body>
</html>
